#main-image {
  border-radius: 50%;
  max-height: 400px;
  max-width: 400px;
}

td:hover {
  background-color: lightgrey;
}

nav {
  background-color: lightgrey;
}

#hidden-horse {
  background: #eee;
  color: #eee;
}

#hidden-horse:hover {
  color: black;
  background-color: yellow;
}

.carousel-image {
  max-width: 50%;
  height: auto;
  margin: auto;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.4);
}

.travel-image {
  max-height: 265px;
  width: auto;
}
