<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>My Travels</title>
</head>
<body>
    <!-- navbar -->
    <div id="navbar">
      <navbar></navbar>
    </div>

    <p class="display-1 text-center">My Travels</p>

    <p class="text-center"> Despite the pandemic, I have managed to travel thrice in 2021 and 2022!</p>
    <div id="app">
      <ul class="nav nav-tabs justify-content-center mt-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation" v-for="name of Object.keys(data)">
          <button :class="getClass(name)" :id="name" data-bs-toggle="tab" :data-bs-target="getDataBSTarget(name)" type="button" role="tab" :aria-controls="getAriaControls(name)" aria-selected="true">{{data[name]["title"]}}</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div :class="getTabContentClass(name)" :id="getID(name)" role="tabpanel" :aria-labelledby="name" tabindex="0" v-for="name of Object.keys(data)">
          <div class="container mt-3">
            <div class="row">
              <div class="card mb-3 col-12 col-md-6 col-xl-4" v-for="picture of data[name].details">
                <img :src="picture.src" class="card-img-top travel-image" alt="Picture">
                <div class="card-body">
                    <h5 class="card-title">{{picture.title}}</h5>
                    <p class="card-text">{{picture.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div class="container-fluid bg-secondary text-white mt-6 text-center">
      (C) James Tan 2022. All rights reserved.
    </div>

    <!--Travel Image js -->
    <script>
        const travelImages = Vue.createApp({
          data(){
            return{
              data:{
                "cruise":{
                  "title":"Cruise to Nowhere",
                  "details":[
                  {"src":"img/travel-9.jpeg","title":"Cabin","description":"My cabin on the cruise ship. Has a balcony."},
                  {"src":"img/travel-1.jpeg","title":"Stormy weather!","description":"My cabin on the cruise ship. Has a balcony."},
                  {"src":"img/travel-7.jpeg","title":"Lighthouse","description":"Can you guess which lighthouse is this? The dispute with Malaysia over its sovereignty only ended in 2018!"}
                  ]
                },
                "JBandMalacca":{
                  "title":"JB and Malacca Trip",
                  "details": [
                  {"src":"img/travel-4.jpeg","title":"Fountain pens","description":"Saw this when shopping at JB. Looks much cheaper than in SG."},
                  {"src":"img/travel-5.jpeg","title":"Malacca city center","description":"Went up the revolving tower to take a picture of the historic city center of Malacca."},
                  {"src":"img/travel-6.jpeg","title":"Horse grafitti","description":"Painted at the side of a shophouse!"},
                  {"src":"img/travel-13.jpeg","title":"Hotel by the river","description":"A luxury hotel by the river"},
                  {"src":"img/travel-14.jpeg","title":"Malacca river cruise","description":"Cruising along the Malacca River"},
                  {"src":"img/travel-15.jpeg","title":"Where I stayed","description":"A refurbished shophouse. Nicely renovated."},
                  {"src":"img/travel-16.jpeg","title":"Where I stayed 2","description":"Another view of the shophouse I stayed in. Has an attic with a room too."}
                  ]
                },
                "genting":{
                  "title":"Genting Highlands",
                  "details":[
                  {"src":"img/travel-2.jpeg","title":"View from Cable Car","description":"Captured when it was foggy, gives a mysterious feeling."},
                  {"src":"img/travel-3.jpeg","title":"View of Hotels","description":"Another image taken when foggy."},
                  {"src":"img/travel-8.jpeg","title":"Theme Park","description":"Taken in Skyworlds Theme Park"},
                  {"src":"img/travel-11.jpeg","title":"View from Mountain Top","description":"Breathtaking view of the valley below!"}
                  ]
                }
              }
            }
          },
          methods:{
            getDataBSTarget(name){
              return `#${name}-pane`
            },
            getAriaControls(name){
              return `#${name}-pane`
            },
            getClass(name){
              if (Object.keys(this.data).indexOf(name) === 0){
                return "nav-link active"
              }
              return "nav-link"
            },
            getID(name){
              return `${name}-pane`
            },
            getTabContentClass(name){
              if (Object.keys(this.data).indexOf(name) === 0){
                return "tab-pane fade show active"
              }
              return "tab-pane fade"
            }
          }
        }
      ).mount("#app")
    </script>
    <!-- Navbar component js -->
    <script src="navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>